# LANGUAGE AND CHARSET #

DefaultLanguage pt-BR
AddDefaultCharset utf-8

# ACCESS EXTERNAL #

Header set Access-Control-Allow-Origin "*"

# COMPRESS #

AddOutputFilterByType DEFLATE text/text text/javascript text/plain text/html text/xml application/xml text/css text/json application/json application/javascript application/x-javascript font/opentype image/svg+xml application/vnd.ms-fontobject application/x-font-ttf application/x-font-woff

# CACHE #

ExpiresActive On
ExpiresDefault "access plus 300 seconds"

<filesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
	Header set Cache-Control "max-age=2592000, public"
	ExpiresDefault "access plus 1 month"
</filesMatch>

<filesMatch "\.(js|css)$">
	Header set Cache-Control "max-age=604800, public"
 	ExpiresDefault "access plus 1 week"
</filesMatch>

SetEnvIfNoCase REQUEST_URI \.(?:gif|jpe?g|png|ico)$ no-gzip dont-vary
Header append Vary User-Agent env=!dont-vary

# REWRITE #

RewriteEngine On
RewriteBase /

# URLs Friendly

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.html?$1&%{QUERY_STRING} [L]
